body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff4d;
}
.loginf{
   height: 100vh;
}
.login {
    width: 400px;
    background-color: #f6eeee99;
    border: solid 2px;
    border-color: #c9bfbfcc;
    border-radius: 20px;
    padding: 40px;
}
form small a{
  decoration: none;
}

nav {
    border-bottom: solid rgba(255, 153, 0, 0.904) 3px;
}

.videoaula{
   position: fixed;
    left: 400px;
}

.panel{
    overflow: scroll ;
    width: 300px;
    float: left;
    height: 550px;

}
.panel-body{
    padding : 10px
}
