.body-background {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #ffffff4d;
}

.loginf {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.login {
  width: 400px;
  background-color: #f6eeee99;
  border: solid 2px;
  border-color: #c9bfbfcc;
  border-radius: 20px;
  padding: 40px;
}
form small a {
  text-decoration: none;
}
.navbar {
  margin-bottom: 0;
}
.navbar-inverse {
  background-color: black;
}
.navbar-default {
  border-radius: 0;
  border-bottom: solid rgba(255, 153, 0, 0.904) 3px;
}

.videoaula {
  position: fixed;
  left: 400px;
}

.painel {
  overflow: scroll;
  width: 20%;
  float: left;
  height: 550px;
}
.painel-body {
  padding: 10px;
}

.distancing-Top {
  margin-top: 25px;
}

.new-module {
  padding: 10px;
}

.tumble-upload {
  width: 200px;
  height: 120px;
  margin: 3px;
}

.courses {
  left: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.card-course {
  margin: 10px;
  width: 320px
}

.card-course-hover {
  transform: scale(1.1);
  margin-right: 10px;
}

.editor-class {
  border: solid 1px #cccccce8;
  height: 200px;
}
